<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trip plans</title>
</head>
<body>
    <center>
        <h1>.....Response of Babul.....</h1>
        <h3>Yes i am coming bro.</h3>
        <h3>Well,who can miss it bro!! i am excited to go.</h3>
        <h3>Why my brother is silent??</h3>
    
        <a href="{% url 'something:bapi' %}"><h4>Response of Bapi</h4></a>
    </center>
</body>
</html>